html {
  scroll-behavior: smooth;
}
body {
  padding-top: 20px;
  margin: 0;
}
main {
  width: 80%;
  margin: auto auto;
  font-family: Arial, sans-serif;
  margin-top: 40px;
}
.main_header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  background-color: white;
  text-transform: uppercase;

  z-index: 1;
  border-bottom: 2px solid #f5f5f6;
}
.back_btn {
  position: fixed;
  height: 50px;
  width: 50px;
  margin-top: 80vh;
  margin-left: 95%;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #06f;
  z-index: 1;
}
.back_btn:hover {
  background-color: #06f;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.main_header a {
  padding-right: 10px;
  color: #555555;
}
.main_header a:hover {
  color: #28a7f0;
}

::-webkit-scrollbar {
  width: 20px;
}
.headera {
  margin: auto auto;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
.font {
  font-family: Brush Script MT;
  font-size: 60px;
}
.font1 {
  font-family: Brush Script MT;
  font-size: 40px;
}

.O_meni {
  font-size: 24px;
  padding-top: 50px;
}

.slika_laptop {
  width: 380px;
  height: 270px;
  float: right;
  position: absolute;
  margin-left: 750px;
  margin-top: 130px;
}

.main_header {
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.main_header a {
  text-decoration: none;
  padding-left: 20px;
  transition: 0.3s;
}
.slika {
  height: 100vh;
  position: relative;
}
.child {
  position: absolute;
  top: 15%;
  left: 10%;
  margin: auto, auto;
}
.avatar {
  width: 300px;
  height: 300px;
  float: left;
  padding-top: 20px;
  padding-left: 10px;
}
.slika h1 {
  padding-top: 60px;
  padding-left: 410px;
}
.slika h2 {
  padding-left: 410px;
  padding-bottom: 50px;
}
.radovi {
  height: 100vh;
  padding-top: 80px;
}

.wrapper {
  max-height: 330px;
  display: flex;
  overflow-x: auto;
  position: relative;
  top: 20%;
}
.wrk {
  margin: 0;
  padding: 0;
}
.wrapper {
  padding-bottom: 5px;
}
.wrapper .item {
  min-width: 220px;
  min-height: 250px;
  line-height: 250px;
  text-align: center;
  background-color: #ddd;
  margin-right: 13px;
  margin-left: 13px;
  border-radius: 5%;
}
.wrapper .item {
  text-decoration: none;
}
.wrapper .item:hover {
  background-color: white;
}
.item1 {
  text-decoration: none;
}
.O_meni {
  width: 975px;
  height: 100vh;
}
.iskustvo {
  height: 100vh;
  padding-top: 60px;
}
.linija1 {
  width: 90%;
  background-color: black;

  height: 7px;
}
.linija2 {
  width: 85%;
  background-color: black;

  height: 7px;
}
.linija3 {
  width: 65%;
  background-color: black;

  height: 7px;
}
.linija4 {
  width: 55%;
  background-color: black;

  height: 7px;
}
.progres {
  height: 7px;
  width: 90vh;
  background-color: #aaa;
  overflow: hidden;
}
.procenat {
  float: right;
  margin-right: 5%;
  margin-bottom: 5px;
  margin-top: 0;
}
.procenat1 {
  float: right;
  margin-right: 5%;
  margin-bottom: 5px;
  margin-top: 0;
}
.procenat2 {
  float: right;
  margin-right: 5%;
  margin-bottom: 5px;
  margin-top: 0;
}
.procenat3 {
  float: right;
  margin-right: 5%;
  margin-bottom: 5px;
  margin-top: 0;
}
.floatr {
  padding-top: 20px;
  float: right;
}
.tekst3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 0;
}
footer {
  height: 100px;
}
.kontakt_forma {
  margin-left: 20px;
  font-size: 22px;
}
.kontakt_forma h2 {
  margin-bottom: 10px;
  padding-left: 30px;
}
.ikone {
  padding-right: 50px;
}
.mail {
  padding-left: 30px;
}
.tekst1 {
  padding-right: 270px;
  padding-left: 20px;
  text-align: justify;
}
.tekst2 {
  padding-left: 20px;
}
.kontakt_forma i {
  float: right;
  margin-right: 50px;
  color: black;
}
.kontakt_forma i:hover {
  color: blue;
}

/*Loader is not mine!*/
.loader_wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: white;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: fixed;
  border: 4px solid #06f;

  animation: loader 2s infinite ease;
  z-index: 10;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
  z-index: 10;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
/*Loader is not mine!*/

.tabs {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  width: 50%;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 450px;
  text-align: justify;
  float: left;
}
.tabs_head {
  display: flex;
  align-items: stretch;
}
.tabs_toggle {
  display: flex;
  width: 33.3334%;
  height: 50px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 10px #c1e1ec;
  background-color: #c1e1ec;
}
.tabs_toggle:hover {
  background-color: #add8e6;
  box-shadow: 0px 0px 10px #add8e6;
}
.tabs_toggle.is-active {
  background: white;
}
.tabs_content {
  padding: 30px;
  display: none;
}
.tabs_content.is-active {
  display: block;
}
.tabs_title {
  font-size: 18px;
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
}
.tabs_text {
  font-size: 14px;
  color: black;
}
.naslov_iskustvo {
  padding-bottom: 20px;
}
